@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('~assets/fonts/BebasNeueRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#__layout {
    @apply h-full;
}

#__nuxt {
    @apply h-full;
}

::-webkit-scrollbar {
    @apply h-3;
    @apply w-3;
}

::-webkit-scrollbar-track {
    background-color: rgba(160,174,192,0.25);
    -webkit-border-radius: 1em;
}


::-webkit-scrollbar-thumb {
    background-color: rgba(43,108,176,.75);
    -webkit-border-radius: 1em;
}
